# Byte-compiled / cache
target/
dbt_packages/
logs/
dbt_semantic_interfaces/
.env
.env.*
!.env.example

# profiles.yml holds credentials and is generated locally or written by CI.
profiles.yml

# Editors
.idea/
.vscode/
*.iml
.DS_Store
